<h1><%= @merchant.name %></h1>

<% @bulk_discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <h3>Percentage: <%= number_to_percentage(discount.percent_off, :precision => 0) %></h3>
    <p>Quantity Threshold: <%= discount.thresholds %></p>
    <p>Status: <%= discount.status %></p>
    <%= link_to "Manage #{discount.percent_off}% Discount", merchant_bulk_discount_path(@merchant, discount), method: :get %>
    <br/>
  </div>
<% end %>
