<h1><%= @merchant.name %></h1>

<%= link_to "Add Discount", new_merchant_bulk_discount_path(@merchant), method: :get %>

<% @bulk_discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <h3>Percentage: <%= number_to_percentage(discount.percent_off, :precision => 0) %><%= button_to 'View Discount', merchant_bulk_discount_path(@merchant, discount), method: :get %></h3>
    <p>Quantity Threshold: <%= discount.thresholds %></p>
    <p>Status: <%= discount.status %></p>
    <ul>
      <li><%= link_to "Delete #{discount.percent_off}% Discount", merchant_bulk_discount_path(@merchant, discount), method: :get %></li>
    </ul>
    <br/>
  </div>
<% end %>
